

@font-face {
  font-family: "XanhMono-Regular";
  src: url("/assets/fonts/XanhMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
 }

@font-face {
  font-family: "XanhMono-Italic";
  src: url("/assets/fonts/XanhMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; 
 }



body {
  font-family: "XanhMono-Regular", serif;
  margin: 0;
  padding: 40px;
  padding-bottom: 120px; /* !!!space for timeline */
  background: white;
}

/* ========================= */

.content {
  max-width: 600px;
  margin: 40px auto 0 auto;
  text-align: center;
}

img {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}



details {
  margin: 10px auto;
  max-width: 400px;
  color: red;
}

details summary {
  cursor: pointer;
  color: #818181;
  transition: border-color 0.2s ease;
}

details summary:hover {
  transform: translateX(1px);
}

summary {
  cursor: pointer;
}

details p {
  margin: 8px 0;
}

.answers {
  margin-top: 10px;
}

.answers a {
  display: inline-block;
  margin: 0 8px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.answers a:hover {
  border-bottom: 1px solid rgb(255, 0, 0);
  transform: translateX(1px);
}


/* ========================= */

.nav {
  margin-top: 30px;
}

.next-button {
  display: inline-block;
  padding: 10px 14px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.next-button:hover {
  background: red;
  color: white;
}


/* ========================= */

.timeline {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  gap: 2px;

  padding: 10px;
  background: white;
  border-top: 1px solid black;

  box-sizing: border-box;
  z-index: 999;
}

.stripe {
  display: flex;
  width: 100%;
  gap: 2px;
}



.slot {
  flex: 1;
  height: 44px;
  background: #f4f4f4;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
}

.slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(20%);
}

.slot.empty {
  background: transparent;
  border: 1px dashed black;
}




.correct-content {
  max-width: 450px;
  margin: 80px auto;
  text-align: justify;
}

.correct-content p {
  line-height: 1.5;
}

.next-wrapper {
  text-align: center;
  margin-top: 40px;
}


.wrong-page {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}
